@model MvcForbiddenIsland.Models.Island

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" language="javascript">
    function onSubmitButtonClick(rowNumber) 
    {

        if ($("#textbox1").val() == "")
        {
            $("#textbox1").val(rowNumber);        
        }
        else if ($("#textbox2").val() == "")
        {
            $("#textbox2").val(rowNumber);          
        }
        else if ($("#textbox3").val() == "")
        {
            $("#textbox3").val(rowNumber);     
        }
    }


</script>

<h2>Index</h2>

<p>
    @Html.TextBox("textbox1") @Html.TextBox("textbox2") @Html.TextBox("textbox3")
</p>




<table>
    @DisplayIslandRow(1)
    @DisplayIslandRow(2)
    @DisplayIslandRow(3)
    @DisplayIslandRow(4)
    @DisplayIslandRow(5)
    @DisplayIslandRow(6)
</table>

@Html.ActionLink("Go to the island ", "Index", "Island", new { one = 1 });










@helper DisplayIslandRow(int i)
{
    <tr>


        @foreach (var item in Model.IslandBoard.Where(x => x.rowNumber == i).OrderBy(x => x.columnNumber))
        {
    <td onclick="onSubmitButtonClick('@item.Id')">
        @item.Name
        @item.StartingTileForPlayer
        @item.SubmergedState

        @*@item.PlayersOnTile.Count*@

        @if ( (item.PlayersOnTile == null)  || (item.PlayersOnTile.Count == 0))
                {
            <p> No Player</p>
                }
                else
                {
                    foreach (var x in item.PlayersOnTile)
                    {
            @x.Name
            @x.Colour
            @x.Action
                    }
                }
    </td>
        }
    </tr>
}

