@model MvcForbiddenIsland.Models.Island

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" language="javascript">
    function onSubmitButtonClick(rowNumber) {
        if ($("#MoveOne").val() == "00000000-0000-0000-0000-000000000000") {
            $("#MoveOne").val(rowNumber);
        }
        else if ($("#MoveTwo").val() == "00000000-0000-0000-0000-000000000000") {
            $("#MoveTwo").val(rowNumber);
        }
        else if ($("#MoveThree").val() == "00000000-0000-0000-0000-000000000000") {
            $("#MoveThree").val(rowNumber);
        }
    }


</script>

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <p>
            @Html.EditorFor(model => model.CurrentPlayerId)
            @Html.EditorFor(model => model.MoveOne)
            @Html.EditorFor(model => model.MoveTwo)
            @Html.EditorFor(model => model.MoveThree)
        </p>

        <table>
            @DisplayIslandRow(1)
            @DisplayIslandRow(2)
            @DisplayIslandRow(3)
            @DisplayIslandRow(4)
            @DisplayIslandRow(5)
            @DisplayIslandRow(6)
        </table>

        <p>
            <input type="submit" value="Save" />
        </p>

    </fieldset>
}


@helper DisplayIslandRow(int i)
{
    <tr>
        @foreach (var item in Model.IslandBoard.Where(x => x.rowNumber == i).OrderBy(x => x.columnNumber))
        {
            <td onclick="onSubmitButtonClick('@item.Id')">
                @item.Name
                @item.StartingTileForPlayer
                @item.SubmergedState

                @*@item.PlayersOnTile.Count*@

                @if ((item.PlayersOnTile == null) || (item.PlayersOnTile.Count == 0))
                {
                    <p> No Player</p>
                }
                else
                {
                    foreach (var x in item.PlayersOnTile)
                    {
                        @x.Name
                        @x.Colour
                        @x.Action
                    }
                }
            </td>
        }
    </tr>
}

