@model MvcForbiddenIsland.Models.Island

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" language="javascript">
    function onSubmitButtonClick(id, ida) {
        $("#textbox1").val(id);
        $("#textbox2").val(ida);
    }
</script>

<h2>Index</h2>
@Html.ActionLink("link caption", "actionName", "Island", new { reportID = 1 });

<p>
    @Html.TextBox("textbox1") @Html.TextBox("textbox2")
</p>

<p>
    @Html.TextBox("textbox3") @Html.TextBox("textbo4")
</p>

<p>
    @Html.TextBox("textbox5") @Html.TextBox("textbox6")
</p>


<table>
    @DisplayIslandRow(1)
    @DisplayIslandRow(2)
    @DisplayIslandRow(3)
    @DisplayIslandRow(4)
    @DisplayIslandRow(5)
    @DisplayIslandRow(6)
</table>

@helper DisplayIslandRow(int i)
{
    <tr>


        @foreach (var item in Model.IslandBoard.Where(x => x.rowNumber == i).OrderBy(x => x.columnNumber))
        {
            <td onclick="onSubmitButtonClick(@item.rowNumber,@item.columnNumber)">
                @item.Name
                @item.StartingTileForPlayer
                @item.SubmergedState

                @item.PlayersOnTile.Count

                @if (item.PlayersOnTile.Count == 0)
                {
                    <p> No Player</p>
                }
                else
                {
                    foreach (var x in item.PlayersOnTile)
                    {
                        @x.Name
                        @x.Colour
                        @x.Action
                    }
                }
            </td>
        }
    </tr>
}

