@model MvcForbiddenIsland.Models.Island

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

 
<table>
    @DisplayIslandRow(1)
    @DisplayIslandRow(2)
    @DisplayIslandRow(3)
    @DisplayIslandRow(4)
    @DisplayIslandRow(5)
    @DisplayIslandRow(6)
</table>

@helper DisplayIslandRow(int i)
{
    <tr>
        @foreach (var item in Model.IslandBoard.Where(x => x.rowNumber == i).OrderBy(x => x.columnNumber))
        {
            <td>
                @item.Name
                @item.StartingTileForPlayer
                @item.SubmergedState
            </td>
        }
    </tr>
}

