@model MvcForbiddenIsland.Models.Island

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model.IslandBoard)
    {
        <tr>
            <td>
                @DisplayIslandTile(item)
            </td>
        </tr>
    }
</table>

@helper DisplayIslandTile(MvcForbiddenIsland.Models.IslandTile islandTile)
{
    @islandTile.Id
    @islandTile.Name
    @islandTile.StartingTileForPlayer
    @islandTile.SubmergedState
}